/**
 * SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.face-cover[data-v-d2056b7d] {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: var(--border-radius-large);
}
.face-cover__crop-container[data-v-d2056b7d] {
  overflow: hidden;
  width: 128px;
  height: 128px;
  border-radius: 128px;
  position: relative;
  background: var(--color-background-darker);
  --photos-face-width: 128px;
}
@media only screen and (max-width: 1020px) {
.face-cover__crop-container[data-v-d2056b7d] {
    width: 95px;
    height: 95px;
    --photos-face-width: 95px;
}
}
.face-cover[data-v-d2056b7d]:hover, .face-cover[data-v-d2056b7d]:focus {
  background: var(--color-background-hover);
}
.face-cover__details[data-v-d2056b7d] {
  display: flex;
  flex-direction: column;
  width: 128px;
  margin-top: 4px;
  text-align: center;
}
@media only screen and (max-width: 1020px) {
.face-cover__details[data-v-d2056b7d] {
    width: 95px;
}
}
.face-cover__details__first-line[data-v-d2056b7d] {
  display: flex;
  height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.face-cover__details__second-line[data-v-d2056b7d] {
  margin-top: 6px;
  color: var(--color-text-maxcontrast);
}
.face-cover__details__name[data-v-d2056b7d] {
  flex-grow: 1;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-main-text);
}
.face-cover--small *[data-v-d2056b7d] {
  font-size: 15px !important;
}
.face-cover--small .face-cover__details[data-v-d2056b7d] {
  width: 60px !important;
}
.face-cover--small .face-cover__crop-container[data-v-d2056b7d] {
  width: 60px !important;
  height: 60px !important;
  --photos-face-width: 60px !important;
}.faces[data-v-d2f21a57] {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  padding-inline-start: 64px;
}
@media only screen and (max-width: 1020px) {
.faces[data-v-d2f21a57] {
    padding: 0;
}
}
.faces__header[data-v-d2f21a57] {
  display: flex;
  min-height: 60px;
  align-items: center;
}
.faces__header button[data-v-d2f21a57] {
  margin-inline-end: 32px;
}
.faces__list[data-v-d2f21a57] {
  padding-top: 24px;
  padding-bottom: 32px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-content: flex-start;
}
.faces__empty[data-v-d2f21a57] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faces__empty__button[data-v-d2f21a57] {
  margin-top: 32px;
}
.empty-content-with-illustration[data-v-d2f21a57] .empty-content__icon {
  width: 200px;
  height: 200px;
}
.empty-content-with-illustration[data-v-d2f21a57] .empty-content__icon svg {
  width: 200px;
  height: 200px;
}