/* extracted by css-entry-points-plugin */
@import './main-B3eBN0jx.chunk.css';
@import './index-Cza_DEM4.chunk.css';
@import './NcActionButton-DykQxmXJ-Dc3ra1Np.chunk.css';
@import './NcAvatar-D5nljVEA-By5U0e-S.chunk.css';
@import './NcSelect-DTniMiUS-D-nWHgHx.chunk.css';
@import './NcDateTimePicker-DRVX_HEr.chunk.css';
@import './video-CmtaypCh.chunk.css';
@import './PhotosFiltersInput-I5MFVku0.chunk.css';
@import './filters-D1F-E22a.chunk.css';
@import './NcFormBoxButton-C6EvdLK4-Ddk1H9dB.chunk.css';