/* extracted by css-entry-points-plugin */
@import './main-DtFIuzXe.chunk.css';
@import './index-Cza_DEM4.chunk.css';
@import './video-CmtaypCh.chunk.css';
@import './NcActionButton-DykQxmXJ-Dc3ra1Np.chunk.css';
@import './NcAvatar-D5nljVEA-By5U0e-S.chunk.css';
@import './NcSelect-DTniMiUS-D-nWHgHx.chunk.css';
@import './NcDateTimePicker-DRVX_HEr.chunk.css';
@import './PhotosFiltersInput-I5MFVku0.chunk.css';
@import './filters-DQ7g2J4L.chunk.css';
@import './NcAppSettingsSection-Yg4NYCih-Bu6rUuRq.chunk.css';
@import './NcCheckboxRadioSwitch-DAPHFb0L-35V8jJy1.chunk.css';