/* extracted by css-entry-points-plugin */
@import './dashboard-Dk7DoScS.chunk.css';
@import './index-Cza_DEM4.chunk.css';
@import './NcEmptyContent-BC9mI1uc.chunk.css';
@import './NcCheckboxRadioSwitch-DAPHFb0L-35V8jJy1.chunk.css';
@import './FileComponent-SjsvQy4O.chunk.css';