/* extracted by css-entry-points-plugin */
@import './main-DtFIuzXe.chunk.css';
@import './index-Cpl4dFut.chunk.css';
@import './video-tnhKV74T.chunk.css';
@import './NcActionButton-1gSJfFUC-Dc3ra1Np.chunk.css';
@import './NcAvatar-sR6y5B6f-BU6yBQGm.chunk.css';
@import './NcSelect-B-X6xD0o-dG21vm_R.chunk.css';
@import './NcDateTimePicker-Cop-dmel.chunk.css';
@import './PhotosFiltersInput-B5iZrGH_.chunk.css';
@import './filters-DQ7g2J4L.chunk.css';
@import './NcAppSettingsSection-Yg4NYCih-OLmgizlb.chunk.css';
@import './NcCheckboxRadioSwitch-BF1M0HBu-DACj1PYL.chunk.css';