/* extracted by css-entry-points-plugin */
@import './main-wMDeJ8-o.chunk.css';
@import './index-Cza_DEM4.chunk.css';
@import './NcFormBoxButton-C6EvdLK4-vKxVNeNk.chunk.css';
@import './video-CmtaypCh.chunk.css';
@import './NcActionButton-DykQxmXJ-Dc3ra1Np.chunk.css';
@import './NcAvatar-D5nljVEA-By5U0e-S.chunk.css';
@import './NcSelect-DTniMiUS-D-nWHgHx.chunk.css';
@import './NcDateTimePicker-DRVX_HEr.chunk.css';
@import './PhotosFiltersInput-I5MFVku0.chunk.css';
@import './filters-DCgQgn3g.chunk.css';
@import './NcFormBoxSwitch-BmyNQCbA-B7Om32ah.chunk.css';