/* extracted by css-entry-points-plugin */
@import './dashboard-Dk7DoScS.chunk.css';
@import './index-Cpl4dFut.chunk.css';
@import './NcEmptyContent-BC9mI1uc.chunk.css';
@import './NcCheckboxRadioSwitch-BF1M0HBu-DACj1PYL.chunk.css';
@import './FileComponent-CDHzgrly.chunk.css';