/* extracted by css-entry-points-plugin */
@import './main-DtFIuzXe.chunk.css';
@import './index-Cpl4dFut.chunk.css';
@import './video-B3kQrkhl.chunk.css';
@import './NcActionButton-1gSJfFUC-Dc3ra1Np.chunk.css';
@import './NcAvatar-OCD_HmOb-BU6yBQGm.chunk.css';
@import './NcSelect-BD9fhCVy-dG21vm_R.chunk.css';
@import './NcDateTimePicker-CdfxhjwA.chunk.css';
@import './PhotosFiltersInput-B5iZrGH_.chunk.css';
@import './filters-DQ7g2J4L.chunk.css';
@import './NcAppSettingsSection-Yg4NYCih-OLmgizlb.chunk.css';
@import './NcCheckboxRadioSwitch-Di43R9CE-DACj1PYL.chunk.css';