/* extracted by css-entry-points-plugin */
@import './dashboard-Dk7DoScS.chunk.css';
@import './index-DSbDAC_J.chunk.css';
@import './NcEmptyContent-BC9mI1uc.chunk.css';
@import './NcCheckboxRadioSwitch-Di43R9CE-DACj1PYL.chunk.css';
@import './FileComponent-CDHzgrly.chunk.css';