/* extracted by css-entry-points-plugin */
@import './main-DtFIuzXe.chunk.css';
@import './index-DSbDAC_J.chunk.css';
@import './video-CgOWMGK_.chunk.css';
@import './NcActionButton-1gSJfFUC-Dc3ra1Np.chunk.css';
@import './NcAvatar-OCD_HmOb-BU6yBQGm.chunk.css';
@import './NcSelect-BD9fhCVy-DLpTMg8e.chunk.css';
@import './NcDateTimePicker-Bf_fnA3G.chunk.css';
@import './PhotosFiltersInput-B5iZrGH_.chunk.css';
@import './filters-DQ7g2J4L.chunk.css';
@import './NcAppSettingsSection-Yg4NYCih-cKJ7ucCv.chunk.css';
@import './NcCheckboxRadioSwitch-Di43R9CE-DACj1PYL.chunk.css';