/* extracted by css-entry-points-plugin */
@import './dashboard-Dk7DoScS.chunk.css';
@import './index-yIQ8nTmw.chunk.css';
@import './NcEmptyContent-BC9mI1uc.chunk.css';
@import './NcCheckboxRadioSwitch-Di43R9CE-DAzrIzpa.chunk.css';
@import './FileComponent-C4XiEzt-.chunk.css';