/**
 * SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.face {
	display: flex;
	flex-direction: column;

	&__empty {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__button {
			margin-top: 32px;
		}

	}

	&__header {
		display: flex;
		min-height: 60px;
		align-items: center;
		justify-content: space-between;
		position: sticky;
		z-index: 3;
		background: var(--color-main-background);
		padding: 0 64px;

		@media only screen and (max-width: 1020px) {
			padding: 0;
			padding-inline-start: 64px;
		}

		&__left {
			height: 100%;
			display: flex;
			align-items: center;
		}

		&__title {
			margin-inline-start: 10px;
			h2 {
				margin-bottom: 0;
			}
		}

		&__loader {
			margin-inline-start: 32px;
		}

		&__actions {
			display: flex;
			align-items: center;

			button {
				margin-inline-start: 16px;
			}
		}
	}

	&__photos {
		margin-top: 16px;
		height: 100%;
		min-height: 0; // Prevent it from overflowing in a flex context.
		padding: 0 64px;

		@media only screen and (max-width: 1020px) {
			padding: 0;
		}
	}
}

.empty-content-with-illustration :deep .empty-content__icon {
	width: 200px;
	height: 200px;

	svg {
		width: 200px;
		height: 200px;
	}
}

.rename-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 70px;
	padding: 16px;

	input {
		width: 100%;
	}
}
