/**
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.file {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	border-radius: var(--border-radius);
	overflow: hidden;

	.cover {
		z-index: 2;
		// We want nice squares despite anything that is in it.
		// The .cover is what makes the exact square size of the grid.
		// We use padding-bottom because padding with percentage
		// always refers to the width. And we only want to fit
		// the css grid's width.
		width: 100%;
		padding-bottom: 100%;
		transition: opacity var(--animation-quick) ease-in-out;
		opacity: 0;
		background-color: var(--color-main-text);
	}

	&.active,
	&:active,
	&:hover,
	&:focus {
		.cover {
			opacity: .3;
		}
	}

	&--clear.active,
	&--clear:active,
	&--clear:hover,
	&--clear:focus {
		.cover {
			opacity: .1;
		}
	}
}

.fade-enter-active, .fade-leave-active {
	transition: opacity var(--animation-quick) ease-in-out;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}
