/**
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
@use 'sass:map';

@mixin grid-sizes() {
	$previous: 0;

	@each $size, $config in $sizes {
		$count: map.get($config, 'count');
		$marginTop: map.get($config, 'marginTop');
		$marginW: map.get($config, 'marginW');

		@if $size == 'max' {
			@media (min-width: #{$previous}px) {
				@content($marginTop, $marginW);
			}
		} @else {
			@media (min-width: #{$previous}px) and (max-width: #{$size}px) {
				@content($marginTop, $marginW);
			}
		}
		$previous: $size;
	}
}
